
    .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 30px;
  }

  body {
    background-image: url('https://cdn.wallpapersafari.com/95/40/LkN3Ej.png');
    background-repeat: no-repeat;
    background-image: cover;
  }
  
  
  form {
    width: 300px;
    padding: 30px;
    background: #1e6cb4;
    border-radius: 5px;
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin: bottom 5px;;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 1px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
  }
  
button:hover {
    background: #45a049;
  }
